/* navbar section */

body {
    background: #171717;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

hr{
    border:1px solid #ffe60094;
    border-radius: 10px;
}

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #303030;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.navbar-links {
    display: flex;
}

.navbar-links li {
    padding: 0 20px;

}

.navbar-style-about,
.navbar-style-branches,
.navbar-style-gallery,
.navbar-style-contacts {
    color: #ffea2f9a;
    text-decoration: none;
    
}

.navbar-style-about:hover,
.navbar-style-branches:hover,
.navbar-style-gallery:hover,
.navbar-style-contacts:hover{
 color: #ff652f; 
}


/* end navbar section */

/* gallery section */

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.moto-gallery {
    display: flex;
    height: 20rem;
    gap: 1rem;
    background-color: #202020;
    padding: 20px;
    padding-top: 15vh;
}

.moto-gallery>div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all, 8s cubic-bezier(.25, .4, .45, 1.4);
}

.moto-gallery>div:hover {
    flex: 5;
}

.text-in-image {
    width: auto;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-in-image-content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.text-in-image:hover .text-in-image-content {
    opacity: 1;
}

/* end gallery secion */

/* about section */

.about-section {
    text-align: center;
    margin: 20px 40px;
    color: #747474;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.about-section>p {
    font-size: 20px;
    padding-top: 10px;
}

.about-section>h2 {
    color: black;
}

/* content from motorcycles */

.description > h2 {
    color: black;
}



.description {
    display: flex;
    padding: 40px;
    gap: 30px;
}

/* collage images section */

.description-images {
    width: 40%;
    height: 300px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    overflow: hidden;
}



/* description section */

.description-content {
    width: 35%;
    height: auto;
}

.description-images-left {
    width: 40%;
    display: flex;
}

.description-images-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.description-content-text {
    font-size: 20px;
    padding-top: 10px;
    color: #747474;

}

/* logo section */

.description-branch {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-branch>img {
    background-size: cover;
    width: auto;
    height: 200px;
}

/* branches section */

.branches {
    padding: 40px;
    margin-bottom: 30px;
}

#branches-tittle {
    color: #14A76C;
}

.branches-logos {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px;
    justify-content: center;
    gap: 20px;
}

.branches-logos-honda:hover,
.branches-logos-husqvarna:hover,
.branches-logos-ducati:hover,
.branches-logos-kawasaki:hover,
.branches-logos-yamaha:hover,
.branches-logos-mototechhub:hover{
    transform: scale(0.8);
    transition: 0.3s ease;
    cursor: pointer;
}

.branches-logos-honda {
    width: 30%;
    height: auto;
    background-image: url(./images-main-page/cb650r/logo-honda.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
    box-shadow: -2px 2px 30px rgba(255, 0, 0, 0.568) ;
}

.branches-logos-husqvarna {
    width: 30%;
    height: 200px;
    background-image: url(./images-main-page/husqvarna-701/husqvarna-logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
    box-shadow: -2px 2px 30px rgba(0, 0, 255, 0.418) ;
}

.branches-logos-ducati {
    width: 30%;
    height: 200px;
    background-image: url(./images-main-page/ducati/ducati-logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
    box-shadow: -2px 2px 10px  rgba(255, 255, 255, 0.315) ;
}

.branches-logos-kawasaki {
    width: 30%;
    height: 200px;
    background-image: url(./images-main-page/kawasaki/kawasaki-logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
    box-shadow: -2px 2px 20px  rgba(0, 128, 0, 0.678) ;
}

.branches-logos-yamaha {
    width: 30%;
    height: 200px;
    background-image: url(./images-main-page/yamaha/yamaha-logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
    box-shadow: -2px 2px 20px  black ;
}

.branches-logos-mototechhub {
    width: 30%;
    height: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
    box-shadow: -2px 2px 20px  #ff662f6b ;
    display: flex;
    justify-content: center;
}

.branches-logos-mototechhub-img {
    background-image: url(./images-main-page/pikaso_texttoimage_i-need-a-logo-wit-this-name-Moto-Tech-Hub.jpeg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* color table section */

.color-table {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.color-table-container{
    display: flex;
}

.color-table-container-colorshow{
    width: 20%;
}

.color-table-container-select{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.select--color{
    width: 33%;
}