/* navbar section */
* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(20, 10, 29);
    ;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links {
    display: flex;
}

.navbar-links li {
    padding: 0 20px;
}

/* end navbar section */

/* gallery section */

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.moto-gallery {
    display: flex;
    height: 20rem;
    gap: 1rem;
    background-color: bisque;
    padding: 20px;
}

.moto-gallery>div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all, 8s cubic-bezier(.25, .4, .45, 1.4);
}

.moto-gallery>div:hover {
    flex: 5;
}

.text-in-image {
    width: auto;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-in-image-content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.text-in-image:hover .text-in-image-content {
    opacity: 1;
}

/* end gallery secion */

/* content from motorcycles */

.description {
    display: flex;
    padding: 20px;
    gap: 30px;
}

.description-images {
    width: 40%;
    height: 300px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    overflow: hidden;
}

.description-images-1:hover,
.description-images-2:hover,
.description-images-3:hover,
.description-images-4:hover,
.description-images-5:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    overflow: visible;
    z-index: 1;
}

.description-content {
    width: 30%;
    height: auto;
}

.description-images-left {
    width: 40%;
    display: flex;
}

.description-images-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.description-images-1 { 
    width: 100%;
    background-image: url(./images-main-page/cb650r-engine.webp);
    background-size: cover;
    background-position: 50%;
} 

.description-images-2 {
    width: 50%;
    background-image: url(./images-main-page/cb650r-clutch.webp);
    background-size: auto 100%;
    background-position: 50%;

}

.description-images-3 {
    width: 50%;
    background-image: url(./images-main-page/cb650r-panel.webp);
    background-size: auto 100%;
    background-position: 50%;

}

.description-images-4 {
    width: 50%;
    background-image: url(./images-main-page/cb650r-suspension.webp);
    background-size: auto 100%;
    background-position: 50%;
}

.description-images-5 {
    width: 50%;
    background-image: url(./images-main-page/cb650r-torque-control.webp);
    background-size:cover;
    background-position: 50%;
}


.description-content-text{
    font-size: 20px;
    padding-top: 10px;
}

.description-branch{
    width: 35%;
    border: 2px solid black;
}